body {
	font-size: 14px;
}

.App {
	margin: 3em;
}


@media screen and (min-width: 1130px) {
	/* wide screen - blurb box to the side*/
	div.scene-display {
		float: left;
	}
	
	div.blurb-box {
		float: left;
		width: 17em;
	}
	
}

@media screen and (max-width: 1129px) {
	/* narrow screen - make it more vertical */
	div.scene-display {
		float: none;
		max-width: 800px;
	}

	div.blurb-box {
		float: left;
		width: 34em;
		max-width: 100%;
	}
}


/* one of those little square gray buttons, or the Next button which is wider */
div.nav-bar div {
	display: inline-block;
	line-height: 1.5em;
	padding: 1em;
	margin: .167em;
	border: 0px none;
	border-radius: 0;
	cursor: pointer;
	
	background: #eee;
}

div.nav-bar div.selected {
	font-weight: bold;
	background: #ddd;
}

