body {
	font-size: 14px;
	position: fixed;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
}

#root {
	height: 100%;
}

.App {
	margin: 3px;
	height: 100%;
}

/* italic style used for variables in function formulas */
v {
	display: inline;
	font-family: times, serif;
	font-style: italic;
}

/* ******************************************************* responsive */


@media screen and (orientation:portrait) {

}

@media screen and (orientation:landscape) {
	svg, .blurb-box {
		float: left;
	}
}

@media screen and (max-width: 499px) {
	/* narrow screen - make it more vertical */
	body {
/* 
		font-size: 12px;
 */
	}
}

@media screen and (min-width: 500px) {
	/* wide screen */
}

@media screen and (max-width: 499px), screen and (max-height: 499px) {
	/* small screen - shrink padding/margins, take out stuff */
	.blurb-text {
		display: none;
	}
	div.nav-bar div {
		padding: .2em .4em;
	}
	div.nav-bar div.next-button {
		display: none;
	}
	p {
		margin: .2em 0;
	}
	h2 {
		margin: .2em 0;
	}
}

/* ******************************************************* misc */

#attitude-readout {
	position: absolute;
	color: gray;
	padding: .2em;
}

