
/* only used with webgl, only used with aside */
canvas {
	display: block;
	border: none;
	background-color: #088;
}

.webgl-chart {
	cursor: grab;
}

.webgl-chart:active {
	cursor: grabbing;
}

/* container for all tic labels */
aside {
	display: block;
	position: absolute;  /* overlays the canvas */
	z-index: 5;
	background: transparent;
	color: #eee;
	width: 100%;  /* all the area of the canvas */
	height: 100%;
	overflow: hidden;
}


/* tic label */
tic-lab {
	position: absolute;
	font-size: 12px;
	border-radius: 12px / 6px;
	background-color: #0004;
	padding: 0 2px;
	
	box-shadow: #0003 0 0 3px 3px;
}
